/*---------------General rules--------------- */
body {
    background: #05264c;
    background: linear-gradient(45deg, #cccccc 0%, rgb(0, 3, 175) 100%);
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    margin: 0 0 10vh;
}

section {
    margin: 0 0 5em;
    padding: 0;
    color: #fff;
    overflow: hidden;

}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2.3em;
    color: #fff;
    padding: 5px;
}

p {
    line-height: 2em;
    font-size: 1.2em;
}



/* ---------------Navigation bar--------------- */
.page-header {
    position: fixed;
    background: rgb(9, 5, 63);
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;

    
}

.navbar-menu {
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 2em;
    

}

.navbar-menu ul {
    padding: 0 1em 0;
    margin: 0;    
    /* text-align: right; */
    list-style: none;
}

li {
    margin: 0.5em;
    padding: 0;
    width: fit-content;
    height: auto;display: inline-block;
}

li .menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;

}

li .menu-link.active-link{
    color: rgb(187, 160, 8);
}
/* ---------------Main Header---------------*/

/* main background img */
.main-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("hero-img.jpg");
    height: 100vh;
    margin: 0 0 5em;
    padding: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* for small screened devices */
@media only screen and (min-width: 35em){
    .hero-text h1 {
        font-size: 6em;
    }
}
/* enlarges title when being hovered */
.hero-text:hover {
    transform: scale(1.2);
    top: 32%;
    left: 28%;
    transition: ease-in-out 0.5s;
}
/* ---------------Sections--------------- */
.container {
    height: 80%;
}

/* odd and even segments appear differently */
section:nth-of-type(even) h2 {
    margin: 0 2em 0;
    text-align: right;
}

section:nth-of-type(odd) h2 {
    margin: 0 2em 0;
    text-align: left;
}
/* start of section background imgs */

section:nth-of-type(even) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("even\ sections.jpg");
    height: 60vh;
    margin: 0 0 5em;
    padding: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -5;
}

section:nth-of-type(odd) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("odd\ section.jpg");
    height: 60vh;
    margin: 0 0 5em;
    padding: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}
/* end of section background imgs */


section:nth-of-type(even) .container {
    margin: 0 2em 0;
    text-align: right; 
}

section:nth-of-type(odd) .container {
    margin: 0 2em 0;
    text-align: left; 
}

/* animation */
/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) h2::before {
    content: '';
    background: rgba(31, 23, 110, 0.514);
    position: absolute;
    z-index: -1;
    width: 20vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) h2::before {
    content: '';
    background: rgba(31, 23, 110, 0.514);
    position: absolute;
    z-index: -1;
    width: 20vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}



/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: active-section class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */


section.active-section h2::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite alternate;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1.2em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-0.2em) 
		           rotate(-360deg);
	}
}
/* arrow up button */
#arrow-up{
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    position: fixed;
    top: 85%;
    left: 92%;
    background: rgba(2, 2, 34, 0.685);
    outline: none;
    cursor: pointer;
}

#arrow-up i {
    font-size:50px;
    color: #fff;
}

/* add section button */
#add-section {
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.945);
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 90%;
    left: 50%;
}
#add-section:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

#add-section i {
    font-size:70px;
    color: #fff;
}